

/**
 * Custom styles
 *
 */
@layer overwrite {
  :root {
    --x-color-nextra-bg: var(--mantine-color-body);
  }

  :where(.dark) {
    --x-color-neutral-800: var(--mantine-color-dark-6);
  }

  .x\:text-sm {
    font-size: var(--x-text-sm) !important;
    line-height: var(--tw-leading, var(--x-text-sm--line-height)) !important;
  }
}

@layer components, mantine, nextra, overwrite;

#wpadminbar.donotshow{
  display: none;
}
 /* purgecss start ignore */
.mantine-Typewriter-root p {
  width: 100%;
}
.mantine-Typewriter-root .mantine-Stack-root{
  width: 100%;
}
a{
  color: var(--mantine-color-anchor);
  text-decoration: none;
  appearance: none;
  border: none;
  display: inline;
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
}


.mantine-AppShell-header,
.mantine-AppShell-footer {
    position: relative !important; 
    left: auto !important;
    right: auto !important;
    
    top: 0 !important; 
    bottom: auto !important; 

    z-index: 1;
    width: 100vw;
}

.mantine-AppShell-main {
    padding-top: var(--mantine-spacing-md); 
    min-height: auto;
}

/* purgecss end ignore */